<div class="container">
  <div id="add-book">
    <a (click)="showForm()">{{ addbooktext }}</a>
  </div>
  <div *ngIf="bookForm == true" id="newbookform">
    <div id="nb_form" class="form">
      <input class="field" type="text" id="nbtitolo" placeholder="Titolo" /><br />
      <input class="field" id="nbautore" type="text"  placeholder="Autore" /> <br />
      <input class="field" type="text" id="nbposizione" placeholder="Posizione" /> <br />
      <div id="errore">
        <p>{{errorMsg}}</p> 
      </div>
      <button class="button1" type="submit" (click)="onSubmit()">Invia</button>
    </div>
  </div>
</div>
