<div class="container">
  <div id="add-book">
    <a (click)="showForm()">{{ addbooktext }}</a>
  </div>
  <div *ngIf="bookForm == true" id="newbookform">
    <div id="nb_form" class="form">
      <input class="field" type="text" id="nbtitolo" placeholder="Titolo" (keyup.enter)="onSubmit()"/><br />
      <input class="field" id="nbautore" type="text"  placeholder="Autore" (keyup.enter)="onSubmit()"/> <br />
      <input class="field" type="text" id="nbposizione" placeholder="Posizione" (keyup.enter)="onSubmit()"/> <br />
      <div id="errore">
        <p>{{errorMsg}}</p> 
      </div>
      <div id="success" *ngIf="isAdded">
        <div id="icona">
        <span class="material-symbols-outlined">
          check_circle
          </span> 
        </div>
          <span>Libro aggiunto con successo!</span>
      
      </div>
      <button class="button1" type="submit" (click)="onSubmit()">Invia</button>
    </div>
  </div>
  
</div>
