.result {
  border-style: solid;
  border-color: #d6d6d6;
  border-width: 0.1px;
  border-radius: 6px;
  margin-bottom: 20px;
  height: 110px;
}

.result_title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
}

.result_author {
  font-size: 14px;
  margin-top: 5px;
}

.result_position {
  font-size: 14px;
  margin-top: 16px;
}

.result_position a {
  color: #8ea870;
  font-weight: bold;
}

.elements{
  margin-left: 23px;
  float: left;
  display: inline;
}

.data {
  width: 55%;
}

.action {
  width: 32%;
  text-align: right;
}

.status {
  margin-top: 15px;
  position: relative;
  font-size: 13px;
}

.btn_group {
  margin-top: 10px;
  text-align: center;
  padding: 3px 6px;
  margin-left: 10px;
  border-style:none;
  border-radius: 3px;
}

.btn_group:hover{
  cursor: pointer;
}

.delete {
  background-color: #ec7c6e;
}

.delete:hover {
  background-color: #e95e4b;
}

.return {
  background-color: #8dd5ff;
}

.return:hover {
  background-color: #49bcff;
}

.borrow {
  background-color: #afcc8d;
}

.borrow:hover {
  background-color: #95be65;
}

.material-symbols-outlined {
  font-size: 20px;
}

.sections {
  display: flex;
}